{% extends 'blog/base.html' %}

{% block title %}
About
{% endblock %}

{% block content %}
<h1 style="text-align: center; color: rgba(160, 71, 49, 0.849);">О нас</h1>
<div class="rezume" style="margin-left: 16%; color: rgba(170, 92, 73, 0.822);">
    <ol><h3>Разработчик: Дворова Екатерина Владимировна</h3></ol>
    <ol><h4>Личные качества:</h4></ol>
    <ol>
        <ul>
            <li>
                <h6>Не пунктуальная</h6>
            </li>
        </ul>
        <ul>
            <li>
                <h6>Ленивая</h6>
            </li>
        </ul>
        <ul>
            <li>
                <h6>Добрая</h6>
            </li>
        </ul>
        <ul>
            <li>
                <h6>Упрямая</h6>
            </li>
        </ul>
    </ol>
    <ol><h4>Навыки:</h4></ol>
    <ol>
        <ul>
            <li>
                <h6>Ничего не умею((</h6>
            </li>
        </ul>
    </ol>
</div>
{% endblock %}
