<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
<header class="p-3 mb-3 border-bottom" style="background: rgba(255, 200, 190, 0.568); border: 2px solid rgba(160, 71, 49, 0.562);">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'home' %}" class="nav-link px-2 link-body-emphasis">Главная</a></li>
                <li><a href="{% url 'create' %}" class="nav-link px-2 link-body-emphasis">Создать пост</a></li>
                <li><a href="{% url 'about' %}" class="nav-link px-2 link-body-emphasis">О нас</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control" placeholder="Поиск..." aria-label="Search" style="border: 1px solid  rgba(160, 71, 49, 0.562); background: rgba(255, 246, 244, 0.842); color: rgb(160, 71, 49);">
            </form>

            <div class="dropdown text-end">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://sun9-15.userapi.com/impf/c630019/v630019895/3898b/rBSeRT0pB_c.jpg?size=442x500&quality=96&sign=361c1992fb279637d5f6f8dfe2be361e&c_uniq_tag=p1CD5nMd9tn_AhcwVPAahuYxRh_JElRaNWUNjY5zb_M&type=album" alt="mdo" width="32" height="32" class="rounded-circle" style="border: 1px solid  rgba(160, 71, 49, 0.562);">
                </a>
                <ul class="dropdown-menu text-small">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <!-- {% block posts %} {% endblock %} -->
    {% block content %} {% endblock %}
</div>
</body>
</html>